<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MN Plant Life - About SNAs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<a href="/">Return home</a>

<h1>What is a Scientific & Natural Area?</h1>

<p>
    The <a href="https://www.dnr.state.mn.us/snas/what_are.html">Minnesota Department of Natural Resources</a> (MnDNR)
    designates areas that contain "natural features of exceptional scientific or educational value" as Scientific &
    Natural Areas (SNAs). These areas are meant to protect and preserve undisturbed ecosystems and endangered plant and
    animal species, as well as significant geological features. According to MnDNR, SNAs "are public lands open to
    recreational activities that do not disturb natural conditions, such as birdwatching, nature photography, and
    hiking," though some areas may have restricted access in some parts of the year due to their use as breeding grounds
    by various protected animals.
</p>

<p>
    This website provides information about all of Minnesota's SNAs, and also provides detailed information about the
    plant species that are found in each SNA.
</p>

</body>
</html>