<!DOCTYPE html>
<html lang="en">

{% set sna = sna_object %}
{% set sna_coordinates = [(sna.coordinates_box[1] + sna.coordinates_box[3]) / 2,
                          (sna.coordinates_box[0] + sna.coordinates_box[2]) / 2]%}

<head>
    <meta charset="UTF-8">
    <title>MN Plant Life - {{ sna.name }}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""
    />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<a href="/">Return home</a>

<h1>{{ sna.name }}</h1>

<p>
    {% set tags_string = sna.tags|join(", ")|title %}
    <i>{{ tags_string }}</i>
</p>

{# table containing info about the SNA #}
<table style="width:100%">
    <tr>
        {# conditional to check if area is in > 1 county, to use appropriate sing/plural #}
        {% if " and "  in sna.county %}
            <th>Counties:</th>
        {% else %}
            <th>County:</th>
        {% endif %}
        <td>{{ sna.county }}</td>
    </tr>
    <tr>
        <th>Map:</th>
        <td>
            <div id="sna_map" style="width: 600px; height: 400px"></div>
            <script>
                let sna_map = L.map("sna_map", {scrollWheelZoom: false}).setView({{ sna_coordinates }}, 12);

                L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ mapbox_token }}", {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: "mapbox/streets-v11",
                tileSize: 512,
                zoomOffset: -1}).addTo(sna_map);

                L.control.scale().addTo(sna_map);

                let parking_location = L.marker([{{ sna.parking_latitude }}, {{ sna.parking_longitude }}]).addTo(sna_map);
                parking_location.bindPopup("{{ sna.name }} Parking");

                let sna_bounding_box = L.polygon([
                    [{{ sna.coordinates_box[1] }}, {{ sna.coordinates_box[0] }}],
                    [{{ sna.coordinates_box[1] }}, {{ sna.coordinates_box[2] }}],
                    [{{ sna.coordinates_box[3] }}, {{ sna.coordinates_box[2] }}],
                    [{{ sna.coordinates_box[3] }}, {{ sna.coordinates_box[0] }}]],
                    {color: '#487119'}).addTo(sna_map);
                sna_bounding_box.bindPopup("{{ sna.name }}");
            </script>
        </td>
    </tr>
    <tr><th>Wildflowers:</th></tr>
    <tr><td colspan="2">
        <ul style="list-style-type:none">
            {% for flower in sna.wildflowers %}
                <li>
                {% if flower["sname"] != "Not documented" %}
                    <a href="/plant?sci_name={{ flower["sname"] }}&common_name={{ flower["cname"] }}">
                        <small>{{ flower["cname"] }} (<i>{{ flower["sname"] }}</i>)</small>
                    </a>
                {% else %}
                    <i>{{ flower["sname"] }}</i>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Grasses:</th></tr>
    <tr><td colspan="2">
        <ul style="list-style-type:none">
            {% for grass in sna.grasses %}
                <li>
                {% if grass["sname"] != "Not documented" %}
                    <a href="/plant?sci_name={{ grass["sname"] }}&common_name={{ grass["cname"] }}">
                        <small>{{ grass["cname"] }} (<i>{{ grass["sname"] }}</i>)</small>
                    </a>
                {% else %}
                    <i>{{ grass["sname"] }}</i>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td>
    </tr>
    <tr><th>Trees/Shrubs:</th></tr>
    <tr><td colspan="2">
        <ul style="list-style-type:none">
            {% for tree in sna.trees_shrubs %}
                <li>
                {% if tree["sname"] != "Not documented" %}
                    <a href="/plant?sci_name={{ tree["sname"] }}&common_name={{ tree["cname"] }}">
                        <small>{{ tree["cname"] }} (<i>{{ tree["sname"] }}</i>)</small>
                    </a>
                {% else %}
                    <i>{{ tree["sname"] }}</i>
                {% endif %}
            {% endfor %}
        </ul>
    </td></tr>
    <tr>
        <th>Description:</th>
        <td>{{ sna.desc }}</td>
    </tr>
    <tr>
        <th>Notes:</th>
        <td>{{ sna.notes }}</td>
    </tr>
    <tr>
        <th>Directions:</th>
        <td>{{ sna.directions }}</td>
    </tr>

</table>

</body>
</html>