<!DOCTYPE html>
<html lang="en">

{% set sna = sna_object %}

<head>
    <meta charset="UTF-8">
    <title>MN Plant Life - {{ sna.name }}</title>
</head>
<body>

<a href="/">Return home</a>

<h1>{{ sna.name }}</h1>

<p>
    {% set tags_string = sna.tags|join(", ")|title %}
    <i>{{ tags_string }}</i>
</p>

{# table containing info about the SNA #}
<table style="width:100%">
    <tr>
        {# conditional to check if area is in > 1 county, to use appropriate sing/plural #}
        {% if " and "  in sna.county %}
            <th>Counties:</th>
        {% else %}
            <th>County:</th>
        {% endif %}
        <td>{{ sna.county }}</td>
    </tr>
    <tr>
        <th>Map:</th>   {# TODO: add a map of the SNA using Leaflet #}
        <td><i>to be added later</i></td>
    </tr>
    <tr><th>Wildflowers:</th></tr>
    <tr><td colspan="2">
        <ul style="list-style-type:none">
            {% for flower in sna.wildflowers %}
                <li>
                {% if flower["sname"] != "Not documented" %}
                    <a href="/plant/{{ flower["sname"] }}">
                        <small>{{ flower["cname"] }} (<i>{{ flower["sname"] }}</i>)</small>
                    </a>
                {% else %}
                    <i>{{ flower["sname"] }}</i>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td></tr>
    <tr><th>Grasses:</th></tr>
    <tr><td colspan="2">
        <ul style="list-style-type:none">
            {% for grass in sna.grasses %}
                <li>
                {% if grass["sname"] != "Not documented" %}
                    <a href="/plant/{{ grass["sname"] }}">
                        <small>{{ grass["cname"] }} (<i>{{ grass["sname"] }}</i>)</small>
                    </a>
                {% else %}
                    <i>{{ grass["sname"] }}</i>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td>
    </tr>
    <tr><th>Trees/Shrubs:</th></tr>
    <tr><td colspan="2">
        <ul style="list-style-type:none">
            {% for tree in sna.trees_shrubs %}
                <li>
                {% if tree["sname"] != "Not documented" %}
                    <a href="/plant/{{ tree["sname"] }}">
                        <small>{{ tree["cname"] }} (<i>{{ tree["sname"] }}</i>)</small>
                    </a>
{#                        <small>{{ tree["cname"] }} (<i>{{ tree["sname"] }}</i>)</small></li>#}
                {% else %}
                    <i>{{ tree["sname"] }}</i>
                {% endif %}
            {% endfor %}
        </ul>
    </td></tr>
    <tr>
        <th>Description:</th>
        <td>{{ sna.desc }}</td>
    </tr>
    <tr>
        <th>Notes:</th>
        <td>{{ sna.notes }}</td>
    </tr>
    <tr>
        <th>Directions:</th>
        <td>{{ sna.directions }}</td>
    </tr>

</table>

</body>
</html>